
@model IEnumerable<SportsMania.Models.Order>

@{
    ViewBag.Title = "Index";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminPanel.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserPanelLayout.cshtml";

    }
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            Product ID
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>

        <th>
            No. of Products
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderStatu.Status)
        </th>
        <th>
            Total Price
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderStatu.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProductPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
