@model IEnumerable<SportsMania.Models.Cart>

<script src="~/js/angular.min.js"></script>
@{
    ViewBag.Title = "Index";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminPanel.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserPanelLayout.cshtml";

    }
}
<html>
<head>
    <title>Sports Mania</title>

    <link href="/assets1/css/style.css" rel="stylesheet" />

</head>
<body>

    <h2>Cart</h2>
    <script>var val = 0</script>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Count
            </th>
            <th>
                Product Price
            </th>
            <th>
                Total Product Price
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalProductPrice)
                    <script>
                        val = @item.TotalProductPrice+val;
                        console.log(val);
                        $('#TotalAmount').html('<h1>'+ val + '</h1>')
                    </script>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td></td>
            </tr>
        }
    </table>
    <hr />
    <div style="align-content:center;align-items:center;align-self:center">
        <a href="/Orders/ConfirmOrder" style="text-align:center"><h1>Check Out</h1></a>
    </div>
    </body></html>